.footer{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid green;
    /* padding: 20px; */
    align-items: center;
    /* position: static; */
    /* margin-top: 100% */
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}